<h1>Admin &raquo; Admin DashBoard</h1>
<br/>
<div>
<table class="table table-bordered">
    <tr>
      <th>Number of Categories</th>
      <th><%= @categories %></th>
    </tr>  
    <tr>
      <th>Number of Products</th>
      <th><%= @products %></th>
    </tr>
</table>
</div>
